.post {
    background-color: #F6F5F2;
    width: 280px;
    height: 290px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 2rem;
}



.ancora {
    text-decoration: none;
}

.capa {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.titulo {
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 1.5rem 0 1.75rem;
}

.btnSaibaMais {
    text-decoration: none;
    border-radius: 1rem;
    color: white;
    padding: 0.5em 1em;
}

.container__botoes{
display: flex;
align-items: center;
justify-content: space-around;
}



.btn__saibaMais{
    padding: 0.5em 0.5em;
    color: white;
    background-color:  #0A1931;
    border-radius: 0.5rem;

}

.texto__modal{
    color: black;
}



@media (max-width: 600px) {
    .post {
        width: 100%;
        margin-bottom: 1rem;
    }

    .titulo {
        text-align: center;
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 768px) {
  
  .post{

    width: 280px;
    height: 290px;
  }


}