
.banner {
    padding: 3rem 7.5rem 6.25rem;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; 
    align-items: center; 
}

.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.titulo {
    font-family: var(--fonte-secundaria);
    font-size: 3rem;
    margin-top: 4.875rem;
    margin-bottom: 2rem;
}

.paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.imagens {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end; 
    height: 406px;
}

.logo {
    width: 25vw;
    border-radius: 50%;
}


@media (max-width: 1100px) {    
    .banner {
        padding: 3.5rem 1.5rem;
    }

    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .paragrafo {
        margin-bottom: 1.5rem;
    }

    .imagens {
        height: 338px;
    }
   
    .logo {
        border-radius: none;
        width: 50vw;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 1rem;
    }

    .titulo {
        font-size: 2.5rem;
    }

    .paragrafo {
        margin-top: 2rem;
        font-size: 0.9rem;
        width: 90%;
    }

    .imagens {
        margin-top: 2rem;
        height: auto; 
    }

    .logo {
        width: 300px;
        margin-top: 1rem;
    }
}
