.container__elementos{
    padding: 3rem;
    background-color: white;
    margin-top: 2rem;
}

.subtitulo{
    text-align: center;
    font-size: 2rem;
}


.paragrafo{
    font-size: 1rem;
    margin-top: 3rem;
}