.section__cards {
    color: white;
    padding: 2rem;
    margin-top: 6rem;
    text-align: center;
    background-color: #0A1931;
}

.titulo__cards {
    font-size: 2rem;
}

.titulo__paragrafo {
    font-size: 1rem;
}

.container__cards {
    margin-top: 4rem;
    margin-left: auto; /* Adiciona auto margin */
    margin-right: auto; /* Adiciona auto margin */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%; /* Define uma largura para o contêiner */
}

.card {
    background-color: #333;
    color: white;
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .section__cards {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .container__cards {
        margin-top: 3rem;
        padding-right: 1rem;
        width: 100%; 
    }

    .card {
        width: 90%; 
        margin: 1rem 0;
    }
}
